body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e44a6;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
}

.nav-logo {
    font-size: 30px;
    padding: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 15px;
    list-style: none;
    color: white;
    margin-left: auto;
    list-style: none;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a{
    color: white;
    list-style: none;
    text-decoration: none;
}

